body {
  padding-bottom: 40px;
}

#main_container {
    background-color: white;
}

#breadcrumb {
    --bs-breadcrumb-divider: '>';
}

#carrousel {
    position: relative;
    display: flex;
}

.img-preview {
    display: block;
    height: 200px;
    cursor: pointer;
}

.dragging {
    opacity: 0.4;
}

table tr td.delrow {
    display: none;
    position: absolute;
    border: 0;
    margin-top: -1px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

table tr:hover td.delrow {
    display: flex;
}
